/* Experience Page Styles */

.experience {
  margin-top: 5rem;
}

.experience .heading {
  font-size: 3.5rem;
  color: rgb(20, 20, 20);
  font-weight: 800;
  text-align: center;
}

.experience .quote {
  font-size: 1.5rem;
  text-align: center;
  font-family: 'Nunito', sans-serif;
  font-weight: 600;
  margin: 1rem auto 2rem;
  font-style: italic;
  color: #555;
  max-width: 800px;
  padding: 0 2rem;
}
