---
import type { SocialLink } from '../lib/helpers';

export interface Props {
  socialLinks: SocialLink[];
}

const { socialLinks } = Astro.props;
---

<div class="socials">
  <ul class="social-icons">
    {socialLinks.map((link) => (
      <li>
        <a
          class={link.className}
          aria-label={link.label}
          href={link.href}
          target="_blank"
          rel="noopener noreferrer"
        >
          <i class={link.icon}></i>
        </a>
      </li>
    ))}
  </ul>
</div>
